.banner{
    background: url('../../access/img/hero4.png') top center / cover no-repeat;
    padding-top:50%;
}
.m_banner{
    margin-top:65px;
}
.group{
    transform: translateY(-50%);
    left:10%;
}
.translateX{
    transform: translateX(-50%);

}
.translateY{
    transform: translateY(-50%);

}
.left{
    left:10%;
}
.right{
    right:10%;
}
.title {
    font-size:60px;
    color:rgb(10, 121, 121);
}
.caption{
    font-size:40px;
    color:rgb(10, 121, 121);
}
.small_title {
    font-size:55px;
}
.desc{
    font-size:16px;
    font-style:italic;
    
}
.gray{
    color:rgba(0,0,0,0.5);
}
.width_position{
    width: 100%;
    z-index: 100;
}
.box_suppose{
    max-width: 160px;
}
.content {
    margin: 0 100px;
}
.background_success{
    background-color:rgba(13, 182, 41, 0.192);

}
.text_success{
    color:rgba(33, 146, 10, 0.747);
}

.text_infor{
    background-color:rgba(13, 13, 219, 0.13);
}
.background_infor{
    color:rgba(13, 13, 219, 0.678);

}
.m_top {
    margin-top:120px;
}
.radius{
    border-radius:15px;
}
.payment_form{
    max-width:500px;
    margin-left: auto;  
    margin-right: auto;  
}
.err{
    font-size:12px;
    font-style: italic;
    color:red;
}
.advertise{
    background: url('../../access/img/banner/b2.jpg') top center / cover no-repeat;
    padding-top:20%;
}

.checkEmail{
    background: url('../../access/img/about/banner.png') top center / cover no-repeat;
    padding-top:20%;
}
.avatar_if{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}
.payment{
    max-width: 500px;
}